---
permalink: /programs/
layout: wide
title: Programs 
---
<div id="blog" class="bg-primary-darker usa-content font-serif-lg padding-y-6">
  <div class="grid-container">
    <h1 class="text-normal text-white margin-0">Programs</h1>
  </div>
</div>
<div class="grid-container">
  <div class="grid-row">
    <div class="desktop:grid-col-8 usa-prose padding-right-4">
      <!-- This loops through the paginated posts -->
      {% for program in site.programs %}
      <div
        class="padding-bottom-5 margin-top-4 usa-prose border-bottom-05 border-base-lightest"
      >
        <h2 class="title">
          <a
            class="usa-link text-no-underline"
            href="{{ site.baseurl }}/programs/{{ program.title | slugify }}"
            >{{program.title}}</a
          >
        </h2>
        <div>
          {% if program.image %} {% asset "{{ program.image }}"
          class="tablet:float-left tablet:width-1/3 padding-right-3
          padding-top-1" alt="{{ program.image_alt_text }}" %} {% endif %} {{
          program.excerpt }}
        </div>
      </div>
      {% endfor %}

    </div>
    <article aria-label="Other site posts and related links" class="desktop:grid-col-fill margin-top-4 padding-right-4">
      <div
        class="border-top-1 border-accent-cool-darker padding-top-2 margin-bottom-4 usa-prose"
      >
        <h3 class="">Upcoming events</h3>
        <ul class="usa-list usa-list--unstyled padding-top-2">
          {% assign sorted_items = site.data.events.items | sort:"title" %}
          {% for item in sorted_items limit:3  %}
          <li class="padding-bottom-1 border-bottom-1px border-base-light">
            <a class="usa-link" href="{{site.baseurl}}/events#{{item.name | slugify}}">
              <h4>{{ item.name }}</h4>
            </a>
            <p>{{item.date}}</p>
            <p>{{item.description | truncate: 240}} <a class="usa-link" href="{{site.baseurl}}/events#{{item.name | slugify}}">Learn more</a></p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </article> 
  </div>
  <div class="grid-row padding-top-4 tablet:padding-x-4 margin-bottom-4">
    <a class="usa-link" href="#blog">Return to top</a>
  </div>
</div>